@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


.container{
    height: 400px;
    background-color: #ddd0d1;
    display: flex;
}

.profile{
    height: 1365px;
    width: 500px;
    background-color: #b39e9f;
    margin-left: 25px;
    text-align: center;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
}

.profile img{
    height: 320px;
    width: 320px;
    margin: 70px 0px 70px 0px;
    border-radius: 50%;
    border: 5px solid white;
}

.profile> :nth-child(2){
    font-size: 20px;
    font-weight: 900;
    width: 200px;
    text-align: left;
    margin: 0px 0px 40px 150px;
    color: white;
    /* text-align: justify; */
}

.profile> :nth-child(3){
    font-size: 20px;
    font-weight: 900;
    width: 250px;
    text-align: left;
    margin: 0px 0px 10px 150px;
    color: white;
}


.my{
    letter-spacing: 1px;
    font-size: large;
    margin: 10px 0px 0px 0px;
    font-weight: 100;
    line-height: 2;
}

.my1{
   margin-left: -40px;
   line-height: 2;
}

.my1 ul{
    list-style-type: none;
}


.detail{
    height: 1365px;
    width: 700px;
    /* background-color: rgba(81, 62, 9, 0.824); */
}

.name{
    font-size: 3.3rem;
    font-weight: 700;
    margin: 170px 0px 0px 50px;
    font-family: "Lato", sans-serif;
    letter-spacing: 2px;
}

.student{
    font-size: 1.6rem;
    margin: 0px 0px 130px 50px;
    letter-spacing: 2px;
    font-family: "Lora", serif;
}

.education{
    font-weight: 800;
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin: 0px 0px 30px 50px;
    font-family: "Lato", sans-serif;
}

.scol{
    font-weight: 600;
    margin: 15px 0px 0px 40px;
    font-family: "Lora", serif;
    margin-bottom: 40px;
}

.scol :first-child{
    margin-left: -5px;
}

.study{
    font-weight: lighter;
    margin-top: 5px;
}

.study ul{
    margin: 10px 0px 0px 20px;
    list-style-type: circle;
    font-weight: 300;
    line-height: 1.5;
}

